.sidebar-imagen-perfil {
	border-top: 1px solid #373737;
	padding: 10px 5px;
	text-align: center;
}
.imagen-perfil {
	border-radius: 20px;
}
.sidebar-imagen-perfil img {
	width: 150px;
}
.registro {
	cursor: cell;
}
figure.cumpleanos-agentes-hoy {
	display: table-row;
}
figure.cumpleanos-agentes-hoy .cumpleanos-imagen {
	border: 1px solid #d9d9d9;
	display: table-cell;
	padding: 3px;
	height: 100px;
	vertical-align: middle;
	width: 100px;
}
figure.cumpleanos-agentes-hoy .cumpleanos-imagen img {
	width: 100%;
}
figure.cumpleanos-agentes-hoy figcaption {
	display: table-cell;
	padding-left: 20px;
	vertical-align: top;
}
figure.cumpleanos-agentes-hoy figcaption span {
	display: block;
	font-size: 0.9em;
}